* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
  background-color: blueviolet;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.iconos {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  height: auto;


}

.chats {
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  height: auto;

}

.whatsapp {
  display: flex;
  flex-direction: row;
}

.mensaje {
  background-color: white;
  width: 700px;
  height: auto;
}