* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
  background-color: blueviolet;
  margin: 0;


}

.iconos {
  padding: 20px;
  background-color: rgb(70, 70, 70);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25px;
  height: 700px;
  cursor: pointer;



}

.chats {
  padding: 20px;
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  height: 700px;
  /*overflow-y: auto; */
  /*no me cierra el scroll*/
  color: white;
}

.whatsapp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 0;
  box-sizing: border-box;

}

.mensaje {
  background-image: url(fondochat.jpg);
  width: 20%;
  height: 700px;
  gap: 10px;
  padding: 20px;
}

.avatar {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
  justify-content: flex-start;


}

p {
  font-family: sans-serif;
  font-weight: bold;


}

.vistaprevia {
  color: gray;
  font-size: small;
  font-weight: normal;
}


.tuerca {
  margin-top: auto;
}

.escribetumensaje {
  background-color: gray;

}



.buscador {
  width: 100%;
  max-width: 450px;
  padding: 5px 5px 5px 34px;
  border: none;
  background-color: rgb(64, 64, 64);
  background-image: url('lupa.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 10px center;
  font-size: 14px;
  color: white;
}

.chatsuperior {
  display: flex;
  justify-content: space-between;

}

.chatsuperior img {
  height: 20px;
  width: auto;
  cursor: pointer;

}