* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
  background-color: blueviolet;
  margin: 0;


}

.iconos {
  padding: 20px;
  background-color: rgb(70, 70, 70);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25px;
  height: 700px;
  cursor: pointer;



}

.chats {
  padding: 20px;
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  height: 700px;
  /*overflow-y: auto; */
  /*no me cierra el scroll*/
  color: white;
}

.whatsapp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 0;
  box-sizing: border-box;

}

.mensaje {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 740px;
  background-image: url(fondochat.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  width: 800px;

}

.avatar {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
  justify-content: flex-start;


}

p {
  font-family: sans-serif;
  font-weight: bold;


}

.vistaprevia {
  color: gray;
  font-size: small;
  font-weight: normal;
}


.tuerca {
  margin-top: auto;
}

.escribetumensaje {
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: #444;
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 10px;
  width: 80%;
  align-self: center;
}



.buscador {
  width: 100%;
  max-width: 450px;
  padding: 5px 5px 5px 34px;
  border: none;
  background-color: rgb(64, 64, 64);
  background-image: url('lupa.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 10px center;
  font-size: 14px;
  color: white;
}

.chatsuperior {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 13px;
  align-items: center;



}

.chatsuperior img {
  height: 20px;
  width: auto;
  cursor: pointer;
  display: flex;
  margin-left: 10px;

}

.chatsuperior h1 {
  margin-right: auto;
}

.barrasuperiormensaje {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 10px;
  background-color: rgb(99, 97, 97);
  width: 100%;
  height: 40px;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;


}

.barrasuperiormensaje img {
  width: 32px;
  height: 32px;
  border-radius: 50%;

}

.barrasuperiormensaje p {
  color: rgb(181, 181, 181);
  font-size: 12px;
  margin: 0;
}

.barrasuperiormensaje h2 {
  font-size: 14px;
  margin: 0;
  color: white;
}

.chatsuperior h1 {
  margin-top: -12px;
  font-weight: normal;

}

.botonenvio {
  width: 20px;
  height: auto;
  cursor: pointer;



}